<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>TIFF-Tool</title>
  <link rel="stylesheet" href="../css/default.css" />
</head>

<body>
  <main>
    <div class="connection-field">
      <!-- 接続画面 -->
      IP:
      <input type="text" name="ip" pattern="^\d{1,3}(\.\d{1,3}){3}$" placeholder="000.000.000.000" required />
      Name:
      <input type="text" name="name" placeholder="anonymous" required />
      Password:
      <input type="text" name="password" placeholder="nopass" required />
      <button type="button" id="connect-button">connect</button>
      <button type="button" id="disconnect-button">disconnect</button>
    </div>
    <div class="status-field">
      <!-- ステータス画面 -->
      <textarea id="ftp-log">tfTool v0.0.1</textarea>
    </div>
    <div class="send-field">
      <!-- 送信ファイル -->
      送信ファイル:
      <input type="text" name="file" size="100" maxlenth="80">
      <button type="button" id="send-button">send</button>
    </div>
    <div class="option-field">
      <!-- オプション -->
      <div class="option">
        <div class="option-check">
          <label for="filetype">
            <input type="checkbox" id="filetype" name="filetype" value="1" checked="checked">ファイルタイプ
          </label>
        </div>
        <div class="option-value">
          <select name="filetype">
            <option>rtf</option>
            <option>mediaprinttiff</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="tray">
            <input type="checkbox" id="tray" name="tray" value="1">給紙トレイ
          </label>
        </div>
        <div class="option-value">
          <select name="tray">
            <option>tray1</option>
            <option>tray2</option>
            <option>tray3</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="bin">
            <input type="checkbox" id="bin" name="bin" value="1">排紙トレイ
          </label>
        </div>
        <div class="option-value">
          <select name="bin">
            <option>0</option>
            <option>1</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="autotray">
            <input type="checkbox" id="autotray" name="autotray" value="1">トレイ切り替え
          </label>
        </div>
        <div class="option-value">
          <select name="autotray">
            <option>autotray</option>
            <option>noautotray</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="direction">
            <input type="checkbox" id="direction" name="direction" value="1">画像向き
          </label>
        </div>
        <div class="option-value">
          <select name="direction">
            <option>portrait</option>
            <option>landscape</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="duplex">
            <input type="checkbox" id="duplex" name="duplex" value="1">両面
          </label>
        </div>
        <div class="option-value">
          <select name="duplex">
            <option>singleside</option>
            <option>bothside</option>
            <option>flip</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="copies">
            <input type="checkbox" id="copies" name="copies" value="1">部数
          </label>
        </div>
        <div class="option-value">
          <select name="copies">
            <option>1</option>
            <option>2</option>
            <option>999</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="resolution">
            <input type="checkbox" id="resolution" name="resolution" value="1">解像度
          </label>
        </div>
        <div class="option-value">
          <select name="resolution">
            <option>600dpi</option>
            <option>200dpi</option>
            <option>300dpi</option>
            <option>400dpi</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="mag">
            <input type="checkbox" id="mag" name="mag" value="1">変倍
          </label>
        </div>
        <div class="option-value">
          <select name="mag">
            <option>1.00</option>
            <option>0.02</option>
            <option>500</option>
            <option>a3</option>
            <option>a4</option>
            <option>a5</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="leftspace">
            <input type="checkbox" id="leftspace" name="leftspace" value="1">左余白
          </label>
        </div>
        <div class="option-value">
          <select name="leftspace">
            <option>0</option>
            <option>-30</option>
            <option>30</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="rightspace">
            <input type="checkbox" id="rightspace" name="rightspace" value="1">右余白
          </label>
        </div>
        <div class="option-value">
          <select name="rightspace">
            <option>0</option>
            <option>-30</option>
            <option>30</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="topspace">
            <input type="checkbox" id="topspace" name="topspace" value="1">上余白
          </label>
        </div>
        <div class="option-value">
          <select name="topspace">
            <option>0</option>
            <option>-30</option>
            <option>30</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="bottomspace">
            <input type="checkbox" id="bottomspace" name="bottomspace" value="1">下余白
          </label>
        </div>
        <div class="option-value">
          <select name="bottomspace">
            <option>0</option>
            <option>-30</option>
            <option>30</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="xoffset">
            <input type="checkbox" id="xoffset" name="xoffset" value="1">Xオフセット
          </label>
        </div>
        <div class="option-value">
          <select name="xoffset">
            <option>0</option>
            <option>-100</option>
            <option>100</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="yoffset">
            <input type="checkbox" id="yoffset" name="yoffset" value="1">Yオフセット
          </label>
        </div>
        <div class="option-value">
          <select name="yoffset">
            <option>0</option>
            <option>-100</option>
            <option>100</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="xmargin">
            <input type="checkbox" id="xmargin" name="xmargin" value="1">Xマージン
          </label>
        </div>
        <div class="option-value">
          <select name="xmargin">
            <option>0</option>
            <option>-100</option>
            <option>100</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="ymargin">
            <input type="checkbox" id="ymargin" name="ymargin" value="1">Yマージン
          </label>
        </div>
        <div class="option-value">
          <select name="ymargin">
            <option>0</option>
            <option>-100</option>
            <option>100</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="multicols">
            <input type="checkbox" id="multicols" name="multicols" value="1">マルチカラム
          </label>
        </div>
        <div class="option-value">
          <select name="multicols">
            <option>1</option>
            <option>10</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="multirows">
            <input type="checkbox" id="multirows" name="multirows" value="1">マルチロー
          </label>
        </div>
        <div class="option-value">
          <select name="multirows">
            <option>1</option>
            <option>10</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="xmag">
            <input type="checkbox" id="xmag" name="xmag" value="1">X倍率
          </label>
        </div>
        <div class="option-value">
          <select name="xmag">
            <option>1</option>
            <option>0.002</option>
            <option>500</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="ymag">
            <input type="checkbox" id="ymag" name="ymag" value="1">Y倍率
          </label>
        </div>
        <div class="option-value">
          <select name="ymag">
            <option>1</option>
            <option>0.002</option>
            <option>500</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="negaposi">
            <input type="checkbox" id="negaposi" name="negaposi" value="1">白黒反転
          </label>
        </div>
        <div class="option-value">
          <select name="negaposi">
            <option>negative</option>
            <option>positive</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="brightness">
            <input type="checkbox" id="brightness" name="brightness" value="1">明るさ
          </label>
        </div>
        <div class="option-value">
          <select name="brightness">
            <option>1</option>
            <option>0.01</option>
            <option>999</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="contrast">
            <input type="checkbox" id="contrast" name="contrast" value="1">コントラスト
          </label>
        </div>
        <div class="option-value">
          <select name="contrast">
            <option>1</option>
            <option>0.01</option>
            <option>999</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="centering">
            <input type="checkbox" id="centering" name="centering" value="1">センタリング
          </label>
        </div>
        <div class="option-value">
          <select name="centering">
            <option>center</option>
            <option>nocenter</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="fit">
            <input type="checkbox" id="fit" name="fit" value="1">FIT
          </label>
        </div>
        <div class="option-value">
          <select name="fit">
            <option>fit</option>
            <option>nofit</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="tifffit">
            <input type="checkbox" id="tifffit" name="tifffit" value="1">TIFFFIT
          </label>
        </div>
        <div class="option-value">
          <select name="tifffit">
            <option>tifffit</option>
            <option>notifffit</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="freesize">
            <input type="checkbox" id="freesize" name="freesize" value="1">不定形
          </label>
        </div>
        <div class="option-value">
          <select name="freesize">
            <option>210x297</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="errormessage">
            <input type="checkbox" id="errormessage" name="errormessage" value="1">エラーメッセージ
          </label>
        </div>
        <div class="option-value">
          <select name="errormessage">
            <option>errorprint</option>
            <option>noerrorprint</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="printarea">
            <input type="checkbox" id="printarea" name="printarea" value="1">印刷領域
          </label>
        </div>
        <div class="option-value">
          <select name="printarea">
            <option>maxarea</option>
            <option>normalarea</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="diskbuffer">
            <input type="checkbox" id="diskbuffer" name="diskbuffer" value="1">ディスクバッファ
          </label>
        </div>
        <div class="option-value">
          <select name="diskbuffer">
            <option>diskbuffer</option>
            <option>memorybuffer</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="orientation">
            <input type="checkbox" id="orientation" name="orientation" value="1">画像方向
          </label>
        </div>
        <div class="option-value">
          <select name="orientation">
            <option>0</option>
            <option>90</option>
            <option>180</option>
            <option>270</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="autoreduce">
            <input type="checkbox" id="autoreduce" name="autoreduce" value="1">autoreduce
          </label>
        </div>
        <div class="option-value">
          <select name="autoreduce">
            <option>a3</option>
            <option>a4</option>
            <option>a5</option>
          </select>
        </div>
      </div>
      <div class="option">
        <div class="option-check">
          <label for="magprocess">
            <input type="checkbox" id="magprocess" name="magprocess" value="1">画像走査補正変倍
          </label>
        </div>
        <div class="option-value">
          <select name="magprocess">
            <option>magprocessxy</option>
            <option>magprocess</option>
            <option>magprocessx</option>
            <option>magprocessy</option>
          </select>
        </div>
      </div>
    </div>
    <div class="exception-option-field">
      <div class="paper-option">
        <div class="paper-option-check">
          <label for="paper">
            <input type="checkbox" id="paper" name="paper" value="1">用紙指定
          </label>
        </div>
        <div class="paper-option-value">
          用紙サイズ
          <select name="papersize">
            <option>a4r</option>
            <option>a4</option>
            <option>a3r</option>
          </select>
          紙種
          <select name="paperkind">
            <option>plain</option>
            <option>recycled</option>
          </select>
        </div>
      </div>
      <div class="autopaper-option">
        <div class="autopaper-option-check">
          <label for="autopaper">
            <input type="checkbox" id="autopaper" name="autopaper" value="1">Autopaper
          </label>
        </div>
        <div class="autopaper-option-value">
          用紙サイズ
          <select name="autopapersize">
            <option>a4r</option>
            <option>a4</option>
            <option>a5r</option>
          </select>
          紙種
          <select name="autopaperkind">
            <option>normal</option>
            <option>normal2</option>
          </select>
          透過率
          <select name="autopapertrans">
            <option>0</option>
            <option>-99</option>
            <option>100</option>
          </select>
        </div>
      </div>
    </div>
  </main>
  <script src="../script/title-view-controller-loader.js"></script>
</body>

</html>